:root {
  --background: #1c2126;
  --background-code: #2c3039;
  --text-normal: #dadada;
  --text-title-h1: #dadada;
  --text-title-h2: #dadada;
  --text-title-h3: #2e7ff2;
  --text-title-h4: #e4b567;
  --text-title-h5: #e83e3e;
  --text-title-h6: #bdc6cf;
  --text-link: #8be9fd;
  --markup-code: #ffb86c;
  --text-tag: #50fa7b;
  --text-a: #ff79c6;
  --text-a-hover: #ff79c0;
  --text-mark: #f1fa8c;
  --interactive-accent: #50fa7b;
  --blockquote-border: #b294bb;
  --interactive-accent-rgb: #f1fa8c;
  --menu-background: #181c20; 
  --menu-border: #35393e;
  --menu-selected: #292d31;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 2rem;
  background-color: var(--background);
  color: var(--text-normal);
  display: flex; /* Use flex display for the body */
  justify-content: center; /* Center the divs horizontally */
}

h1, .cm-header-1 {
  color: var(--text-title-h1);
}

h2, .cm-header-2 {
  color: var(--text-title-h2);
}

h3, .cm-header-3 {
  color: var(--text-title-h3);
}

h4, .cm-header-4 {
  color: var(--text-title-h4);
}

h5, .cm-header-5 {
  color: var(--text-title-h5);
}

h6, .cm-header-6 {
  color: var(--text-title-h6);
}

h1, h2, h3, h4, h5, h6 {
  margin: 15px 0px;
}

strong, em {
  color: #ff82b2;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
  min-height: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* editor and output fields */
#contentField {
  display: flex;
  padding: 2rem;
  width: 1200px;
}

#editor, #outputField {
  padding: 5px;
  resize: none;
  padding: 5px;
  margin-top: 25px;
  width: 600px;
}

.CodeMirror {
  overflow-y: hidden;
  width: 600px;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.cm-comment {
  font-family: 'Fira Code', monospace;
  font-size: 0.8em;
}

#editor {
  margin-right: 10px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  outline: none;
}

#contentField .hidden {
  display: none;
}

.cm-header-1 {
  font-size: 32px;
}

.cm-header-2 {
  font-size: 24px;
}

.cm-header-3 {
  font-size: 18.72px;
}

.cm-header-4 {
  font-size: 16px;
}

.cm-header-5 {
  font-size: 13.28px;
}

.cm-header-6 {
  font-size: 10.72px;
}

/* for code blocks */
pre {
  position: relative;
  background: var(--background-code);
  padding: 25px 25px;
  border-radius: 6px;
}

pre code {
  white-space: pre-wrap;      /* wraps code in code block if needed */
  font-family: 'Fira Code', monospace;
  font-size: 0.8em;
}

/* change the appearance of inline code */
p code, li code {
  display: inline-flex;
  align-items: center;
  background-color: var(--background-code);
  font-family: 'Fira Code', monospace;
  font-size: 0.8em;
  padding: 0.2em 0.2em;
  border-radius: 3px;
}

/* links */
a {
  color: var(--text-link);
}

a:hover {
  color: var(--text-a-hover);
}

a:active {
  color: var(--text-a);
}

a:visited {
  color: var(--text-a);
}

/* file explorer */
#noteList {
  position: relative;
  margin-top: 50px; /* Adjust the top margin as per your preference */
  width: 200px; /* Adjust the width as per your preference */
  background: var(--menu-background);
  border: 1px solid var(--menu-border);
  border-radius: 5px;
  padding: 5px;
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
  overflow-x: hidden;
  right: 200px;
  flex-shrink: 0;
}

#fileList {
  margin: 20px 0px 20px 10px;
}

#fileList .selected {
  background-color: var(--menu-selected);
  border-radius: 5px;
  padding: 4px 6px;
}

/* in noteList div, use custom bullet point  */
#noteList ul li {
  list-style: none;
  background-image: url('./icons/note.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
  padding-left: 30px;
  margin: 10px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
}

/* context menu */
#contextMenuNoteList {
  position: fixed;
  z-index: 10000;
  width: 150px;
  line-height: 1.4;
  padding: 3px 3px;
  border-radius: 4px;
  border: 1px solid var(--menu-border);
  background-color: var(--menu-background);
  display: none;
}

#contextMenuNoteList.visible {
  display: block;
}

#contextMenuNoteList .contextMenuNoteListItem{
  padding: 3px 8px;
  color: var(--text-normal);
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.15s ease-in-out;
  list-style: none;
  display: flex;
  align-items: center;
}

#contextMenuNoteList svg {
  margin-right: 10px;
  fill: var(--text-normal);
  width: 20px;
  height: 20px; 
}

#contextMenuNoteList .contextMenuNoteListItem:hover {
  background: var(--menu-selected);
}

#noteListButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#newNote,
#newFolder {
  padding-top: 10px;
  display: inline-block; /* Set display to inline-block */
  cursor: pointer;
  line-height: 0;
}

#newNote svg,
#newFolder svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  line-height: normal;
}

/* display code flair on top right of code blocks */
pre .code-flair {
  position: absolute;
  display: inline-block;
  right: 4%;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: bold;
}