:root {
  --background: #282a36;
  --background-code: #1a1b26;
  --text-normal: #f8f8f2;
  --text-title-h1: #bd93f9;
  --text-title-h2: #ffb86c;
  --text-title-h3: #50fa7b;
  --text-title-h4: #ff5555;
  --text-title-h5: #f1fa8c;
  --text-title-h6: #9bbcfb;
  --text-link: #8be9fd;
  --markup-code: #ffb86c;
  --text-tag: #50fa7b;
  --text-a: #ff79c6;
  --text-a-hover: #ff79c0;
  --text-mark: #f1fa8c;
  --interactive-accent: #50fa7b;
  --blockquote-border: #b294bb;
  --interactive-accent-rgb: #f1fa8c;
  --menu-background: #3f4355; 
  --menu-border: #575b6d;
  --menu-selected: #7d86b3;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  width: 60rem;
  padding: 2rem;
  background-color: var(--background);
  color: var(--text-normal);
  display: flex; /* Use flex display for the body */
  justify-content: center; /* Center the divs horizontally */
}

h1 {
  color: var(--text-title-h1);
}

h2 {
  color: var(--text-title-h2);
}

h3 {
  color: var(--text-title-h3);
}

h4 {
  color: var(--text-title-h4);
}

h5 {
  color: var(--text-title-h5);
}

h6 {
  color: var(--text-title-h6);
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
  min-height: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* editor and output fields */
#contentField {
  display: flex;
  justify-content: center;
  padding: 2rem; /* Adjust the padding value as needed */
  flex-direction: row;
}

#editor, #outputField {
  overflow: none;
  scrollbar-width: none;
  overflow-x: hidden;
  white-space: pre-wrap;
  color: var(--text-normal);
  background-color: var(--background);
  border-radius: 5px;
  padding: 5px;
  resize: none;
  margin-right: 10px;
  height: calc(100vh - 100px);
  font-size: 0.8em;
  line-height: 1.4;
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
  width: 600px;
  white-space: pre;
}

#editor {
  flex: 1;
  border: transparent;
  outline: none;
  color: var(--text-normal);
  background-color: transparent;
  margin-right: 10px;
  white-space: pre-wrap;
  font-size: 24px;
}

#outputField {
  flex: 1;
  margin-right: 10px;
  white-space: pre wrap;
}

/* for code blocks */
pre {
  background: var(--background-code);
  padding: 25px 25px;
  border-radius: 6px;
}

pre code {
  white-space: pre-wrap;      /* wraps code in code block if needed */
  font-family: 'Fira Code', monospace;
  font-size: 0.8em;
}

/* change the appearance of inline code */
p code, li code {
  display: inline-flex;
  align-items: center;
  background-color: var(--background-code);
  font-family: 'Fira Code', monospace;
  font-size: 0.8em;
  padding: 0.2em 0.2em;
  border-radius: 3px;
}

/* links */
a {
  color: var(--text-link);
}

a:hover {
  color: var(--text-a-hover);
}

a:active {
  color: var(--text-a);
}

a:visited {
  color: var(--text-a);
}

/* file explorer (*/
#noteList {
  position: fixed;
  top: 50px; /* Adjust the top position as per your preference */
  left: 25px; /* Adjust the left position as per your preference */
  width: 200px; /* Adjust the width as per your preference */
  height: calc(100vh - 100px); /* Adjust the height as per your preference */
  background: var(--menu-background);
  border: 1px solid var(--menu-border);
  border-radius: 5px;
  padding: 5px;
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
  overflow-x: hidden;
}

#fileList {
  margin: 20px 0px 20px 10px;
}

#fileList .selected {
  background-color: var(--menu-selected);
  border-radius: 5px;
  padding: 4px 6px;
}

/* in noteList div, use custom bullet point  */
#noteList ul li {
  list-style: none;
  background-image: url('./icons/note.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
  padding-left: 30px;
  margin: 10px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* context menu */
#contextMenuNoteList {
  position: fixed;
  z-index: 10000;
  width: 150px;
  line-height: 1.4;
  padding: 3px 3px;
  border-radius: 4px;
  border: 1px solid var(--menu-border);
  background-color: var(--menu-background);
  display: none;
}

#contextMenuNoteList.visible {
  display: block;
}

#contextMenuNoteList .contextMenuNoteListItem{
  padding: 3px 8px;
  color: var(--text-normal);
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.15s ease-in-out;
  list-style: none;
  display: flex;
  align-items: center;
}

#contextMenuNoteList svg {
  margin-right: 10px;
  fill: var(--text-normal);
  width: 20px;
  height: 20px; 
}

#contextMenuNoteList .contextMenuNoteListItem:hover {
  background: var(--menu-selected);
}

#noteListButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#newNote,
#newFolder {
  padding-top: 10px;
  display: inline-block; /* Set display to inline-block */
  cursor: pointer;
  line-height: 0;
}

#newNote svg,
#newFolder svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  line-height: normal;
}

/* display code flair on top right of code blocks */
.code-flair {
  display: inline-block;
  position: relative;
  top: 0;
  left: 95%;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: bold;
}